#oversteer-return{
	background-image:url('/images/tp-over.png');
}

#oversteering_turnentry_link{
	background-image:url('/images/tp-turn-entry.png');
}

#oversteering_turnapex_link{
	background-image:url('/images/tp-turn-apex.png');
}

#oversteering_turnexit_link{
	background-image:url('/images/tp-turn-exit.png');
}

